body{
	background: #f9e933;
	font-family: 'Arsenal', sans-serif;
}
header, main, footer{
	min-width: 855px;

}
header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
}
header{
	background: white;
	overflow: auto;
}

main{
	background-color: white;
	overflow: auto;
}
header .leftColumn, main .leftColumn, footer .leftColumn{
	float: left;
	width: 570px;
}

footer{
	overflow: auto;
}
.rightColumn{
	float: right;
	width: 285px;
}

h1, h2, h3, h5{
	font-family: 'Ubuntu', sans-serif;
}
