body{
	background: #f9e933;

}
header, main, footer{
	min-width: 855px;

}
header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
}
header{
	background: white;
	overflow: auto;
}
header h1{
	
}
header nav{
	
}
main{
	background-color: white;
	overflow: auto;
}
header .leftColumn, main .leftColumn, footer .leftColumn{
	float: left;
	width: 570px;
}
main img{
	
}
footer{
	overflow: auto;
}
.rightColumn{
	float: right;
	width: 285px;
}

